@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean");

* { padding: 0; margin: 0; box-sizing: border-box; }
body {margin: 0;}
ul {list-style: none; margin: 0; padding: 0;}
input {border: 0; padding: 0; margin: 0;}

:root {
  --bold-grey-color: #b2b2b2;
  --grey-color: #a4a4a4;
  --light-grey-color: #f1f1f1;
  --red-color: #e33d16;
  --font-title: 2.181818181818182vw;
  --font-middle: 1.354545454545455vw;
  --font-small: 0.9696969696969697vw;
  --font-micro: 0.7878787878787879vw;
}

#wrap { max-width: 1650px; width: 100%; margin: auto;}

/*main 1,485px */
.header__border {width: 90%; border-bottom: 2px solid var(--light-grey-color); margin: auto;}
 /*1,039.5px*/
.header__inner {display: flex; width: 70%; justify-content: space-between; margin: auto; align-items: center; margin-top: 1.683501683501684%; padding-bottom: 0.3367003367003367%;}
.header__title {display: flex; align-items: center; font-size: var(--font-middle); color: var(--grey-color); margin-right: 3.848003848003848%; flex-basis: 25%;} 
.header__small__text {font-size: var(--font-small); color: var(--grey-color);}
/*779.625px*/
.nav {flex-basis: 75%; display: flex; justify-content: center; }
.nav__list {display: flex; }
.nav__list li { padding: 0.7vw 1.2vw; font-size: var(--font-small); font-weight: bold; color: var(--bold-grey-color); cursor: pointer;}

/*1485px*/
.main { width: 90%; margin: 2.424242424242424% auto; }
/*965.25px*/
.main__inner {width: 65%; margin: auto;}
/*482.625px*/
.main__left
,.main__right {flex-basis: 50%;}
.main__title { font-size: var(--font-middle);}
.main__inner__top {display: flex; justify-content: space-between;}
.main__top {font-size: var(--font-title); padding: 4.51849759954815% 0;}
.main__small {font-size: var(--font-small); font-weight: bold;}
.main__red {color: var(--red-color);}
.main__description {display: flex; margin: 3.108003108003108% 0; align-items: center;}
.main__description p {border-bottom: 1px solid var(--grey-color); width: 70%; margin-left: 1.45040145040145%; padding-bottom: 2.072002072002072%; font-weight: bold; font-size: var(--font-small);}
.main__description img {width: 10%; background: var(--grey-color); padding: 8px;}
.main__description .decription__small {font-size: var(--font-micro); color: var(--grey-color); padding-top: 5px;}

/*form 965.25px*/
.form {background-color: var(--light-grey-color); margin-top: 3.108003108003108%;}
/*820.4625px*/
.form__main {display: flex; flex-direction: column; align-items: center; width: 85%; margin: auto;}
.form__title {font-size: var(--font-middle); font-weight: 600; margin-bottom: 3.047062%;}
.form__title > strong {color: var(--red-color);}
.form__type1 {display: flex; justify-content: space-between; width: 100%; position: relative;}
.form__type1 input {border-bottom: 1px solid var(--grey-color); width: 100%; height: 3.4vw; font-size: var(--font-small); padding-left: 3.931692736246816%;}
/*254.343375px*/
.form__name,
.form__birth,
.form__tel {flex-basis: 31%;}
.form__gender {display: flex; position: absolute; right: 34%; top: 21%;}
.form__gender__inner {position: relative; width: 2.5vw; height: 2.0vw; text-align: center; line-height: 2.0vw;}
.form__gender input {opacity: 0; position: absolute; width: 100%; height: 100%;}
.form__gender label {border: 1px solid var(--grey-color); width: 100%; height: 100%; font-size: var(--font-small); background-color: var(--grey-color); display: block; }
.form__gender-f {margin-left: 5px;}







