* { padding: 0; margin: 0; box-sizing: border-box; }
h1 { font-size: 0;}
html {word-break: keep-all;}
ul {list-style: none;}
a {text-decoration: none; color: #000000;}
input {border-width: 0; -webkit-appearance: none; -webkit-border-radius: 0; background: none;}
input:focus {outline: none;}
button {border-width: 0;}
:root {
    --super-bold-grey: #585858;
    --bold-grey: #7c7c7c;
    --middle-grey: #b2b2b2;
    --light-grey: #cdcdcd;
    --super-light-grey: #f1f1f1;
    --bold-red: #e33d17;
    --middle-red: #e4322b;
    --bold-pink: #d25c74;
    --middle-pink: #d25a73;
    --light-pink: #df94a8;
    --bold-yellow: #fae100;
}

/* 
* layout
*/
.container { max-width: 1102px; width: 100%; height: 100%; margin: auto;}

/*
* header 
*/
#header { transition: all 0.3s ease; height: 4rem;}
.nav__inner { height: 4em; font-size: 1rem; }
.header__border { border-bottom: 1px solid var(--light-grey); font-size: 1rem; align-items: center; }
.header__content { display: flex; height: 100%;}
.header__logo { width: 85%;}
#nav { flex-basis: 70%;}
.nav__list {display: flex; height: 100%;}
.nav__list > li { width: 14.28571428571429%; text-align: center;}
.nav__depth1 { font-size: 1rem; padding: 1em 0; cursor: pointer; height: 100%; font-weight: bold; color: var(--bold-grey);}
.nav__depth2 > li ,
.nav__depth2 > li > a { padding: 0.5em 0;}
.nav__list .active {position: relative;}
.nav__list .active:before {content: ''; position: absolute; width: 30px; background-color: red; height: 3px; bottom: 0; left: 36.29511192325263%;}

/*
* nav show 
*/
.nav__depth2 { height: 0; overflow: hidden; transition: all 0.3s ease;}
#header.over .nav__depth2 {height: 200px; transition: all 0.3s ease; padding-top: 1em;}
#header.over {height: 15rem; background-color: #fff; transition: all 0.3s ease; box-shadow: 0 10px 10px 0 rgb(0 0 0 / 10%);}
.nav__list .on {position: relative;}
.nav__list .on:before {content: ''; position: absolute; width: 30px; background-color: red; height: 3px; bottom: 0; left: 36.29511192325263%;}



/*
* main content
*/

/*content__left*/
.content {display: flex; justify-content: space-between; padding-top: 2em;}
.content__left__logo > img {width: 50%;}
.content__left__title {font-size: 2.8rem; font-weight: bold; padding-bottom: 0.2em;}
.content__left__description {font-weight: bold; font-size: 1.4em;}
.content__left__description > strong { color: var(--bold-red);  }

/*content__right*/
.content__right__list > li { display: flex;}

.content__right__list__img > img { width: 30%;}



