* { padding: 0; margin: 0; box-sizing: border-box; }
h1 { font-size: 0;}
html {word-break: keep-all;}
ul {list-style: none;}
a {text-decoration: none; color: #000000;}
input {border-width: 0; -webkit-appearance: none; -webkit-border-radius: 0; background: none;}
input:focus {outline: none;}
button {border-width: 0;}
:root {
    --super-bold-grey: #585858;
    --bold-grey: #7c7c7c;
    --middle-grey: #b2b2b2;
    --light-grey: #cdcdcd;
    --super-light-grey: #f1f1f1;
    --bold-red: #e33d17;
    --middle-red: #e4322b;
    --bold-pink: #d25c74;
    --middle-pink: #d25a73;
    --light-pink: #df94a8;
    --bold-yellow: #fae100;
}

/* 
* layout
*/
#wrap { position: relative; padding-top: 4em;}
.container { max-width: 1102px; width: 100%; height: 100%; margin: auto;}

/*
* header 
*/
#header { transition: all 0.3s ease; height: 4em; position: absolute; left: 0; top: 0; width: 100%; z-index: 10;}
.nav__inner { height: 4em; font-size: 1rem; }
.header__border { border-bottom: 1px solid var(--light-grey); align-items: center; }
.header__content { display: flex; height: 100%;}
#moToggle {display: none;}
.moCall {display: none;}
#moNav { left: -100%; top: 0; width: 100%; position: absolute; transition: all 0.3s; z-index: 10; }
.header__logo { width: 85%;}
#nav { flex-basis: 70%;}
.nav__list {display: flex; height: 100%;}
.nav__list > li { width: 14.28571428571429%; text-align: center;}
.nav__depth1 { font-size: 1rem; padding: 1em 0; cursor: pointer; height: 100%; font-weight: bold; color: var(--bold-grey);}
.nav__depth2 > li ,
.nav__depth2 > li > a { padding: 0.5em 0; cursor: pointer;}
.nav__list .active {position: relative;}
.nav__list .active:before {content: ''; position: absolute; width: 30px; background-color: red; height: 3px; bottom: 0; left: 36.29511192325263%;}

/*
* nav show 
*/
.nav__depth2 { height: 0; overflow: hidden; transition: all 0.3s ease;}
#header.over .nav__depth2 {height: 11em; transition: all 0.3s ease; padding-top: 1em;}
#header.over {height: 15rem; background-color: #fff; transition: all 0.3s ease; box-shadow: 0 10px 10px 0 rgb(0 0 0 / 10%);}
.nav__list .on {position: relative;}
.nav__list .on:before {content: ''; position: absolute; width: 30px; background-color: red; height: 3px; bottom: 0; left: 36.29511192325263%;}


/*
* main content start
*/

/*
* content__left
*/
.moMain { display: none;}
.content {display: flex; justify-content: space-between; margin: 2em 2em 0; }
.content__left {flex-basis: 50%;}
.content__left__logo > img {width: 40%;}
.content__left__title {font-size: 2.8rem; font-weight: bold; padding-bottom: 0.2em;}
.content__left__description {font-weight: bold; font-size: 1.4rem;}
.content__left__description > strong { color: var(--bold-red);  }

/*
* content__right
*/
.content__right {flex-basis: 45%;}
.content__right__list > li { display: flex; align-items: center; position: relative;}
.content__right__list__img { flex-basis: 20%; margin-right: 1em;}
.content__right__list__img > img { width: 100%; }
.content__right__list__description::before { content: ''; position: absolute; width: 21em; height: 1px; background-color: var(--middle-grey); bottom: 0; }
.content__right__list__description { font-weight: bold; font-size: 1.1rem;}
.content__right__list__description > span { font-size: 1rem; color: var(--bold-grey);}

/*
* insurance form 
*/
.content-form {margin-top: 10em;}
.form__container {background-color: var(--super-light-grey); border: 1px solid transparent;}
.form-main {width: 95%; background-color: #fff; border: 1px solid var(--light-grey); border-radius: 10px; margin: -6em auto 0.5em;}
.form {padding: 1.2em 0; width: 90%; margin: 0 auto;}
.form__title {text-align: center; font-weight: 550; font-size: 1.8rem; padding-bottom: 0.6em;}
.form__title > strong { color: var(--middle-red);}
.form__type1 {display: flex; justify-content: space-between; padding: 1em 0;}
.form__type1 input {border-bottom: 1px solid var(--bold-grey); width: 100%; height: 3em; padding-left: 3px; font-size: 0.9rem;}
.form__type1 .form__name,
.form__type1 .form__birth,
.form__type1 .form__tel {flex-basis: 29%; position: relative;}
.form__gender { display: flex; position: absolute; right: 0; bottom: 0.5em; }
.gender__inner {position: relative;}
.gender__inner:first-child {padding-right: 0.4em;}
.gender__inner label {background-color: var(--middle-grey); display: block; height: 1.8em; width: 2.4em; line-height: 1.8em; text-align: center; color: #fff; font-weight: bold;}
.gender__inner input {opacity: 0; display: none; }
.gender__inner input:checked + label {height: 1.8em; width: 2.4em; border: 1px solid var(--bold-grey); color: #fff; background-color: var(--light-pink);}
.form__type2 {display: flex; justify-content: center; margin: 0.6em 0;}
.agree__btn {position: relative;}
.form__agree > a {color: var(--middle-red); font-size: 0.825rem; font-weight: bold; }
.form__agree input {opacity: 0;}
.form__agree label:before {content:''; position: absolute; border: 1px solid var(--bold-grey); border-radius: 50%; width: 16px; height: 16px; left: 3px; top: 2.5px; }
.form__agree input:checked + label:after {content: ''; position: absolute; width:10px; height: 10px; border-radius: 50%; background-color: red; left: 7px; top: 6.5px;}
.form__agree > label {padding-left: 2em; font-weight: bold; font-size: 1rem;}
.type2__agree2 {margin-left: 2em;}
.form__btn {display: flex; justify-content: space-between; padding: 1em 0;}
.form__btn .gtm_calc_click {background-color: var(--bold-pink);}
.form__btn .gtm_consult_click {background-color: var(--bold-red);}
.form__btn .gtm_kakao_click {background-color: var(--bold-yellow); color: #1b1b1b; }
.form__btn .gtm_kakao_click > i {color: #1b1b1b;}
.form__btn .gtm_happy_click {background-color: var(--super-bold-grey);}
.form__btn > button { width: 23%; height: 2.8em; color: #fff; font-size: 1rem; font-weight: bold;}
.form__btn > button > i {padding-right: 5px; color: #fff;}
.form__type4 {text-align: center; font-size: 1.2rem; font-weight: bold; color: var(--light-grey);}
.form__type4 .form__call-tel > strong > a { color: var(--middle-red); font-size: 1.8rem;}

/*
* middle tab ( content move )
*/
.tab__list {display: flex; justify-content: space-between; }
.tab__list li {flex-basis: 25%; text-align: center; color: var(--middle-pink); font-weight: bold; font-size: 1.2rem; /*height: 3em; line-height: 3em;*/ padding: 0.8em 0; cursor: pointer;  position: relative;}
.tab__list li + li:before { content: ''; width: 1px; height: 1.8em; background-color: var(--light-grey); position: absolute; left: 0; top: 20%;}
.tab__list li.on { border-bottom: 5px solid var(--middle-pink); }

/*
* middle tab1 product
*/
.product { padding: 0 2em 2em 2em;}
.product__content {padding: 2em 0; border-bottom: 1px solid var(--light-grey);}
.product__content > h3 {font-size: 1.3rem;}
.product__content__description {padding-left: 1em; padding-top: 0.5em; font-weight: bold; color: var(--super-bold-grey); font-size: 0.9rem;}
.product__content__description > p {padding: 0.3em 0;}











/*
* From now on, media query area ( Do not write anything else )
*/

/*
* ios ( safari ) browser
*/
@media not all and (min-resolution:.001dpcm) { 
    @media screen and (min-width: 1024px) {
        .form__agree {flex-basis: 50%;}
    }
}

/*
* small PC
*/
@media screen and (max-width: 1440px) {
    .container {max-width: 1040px;}
    html {font-size: 15px;}
}
@media screen and (max-width: 1200px) {
    .container {max-width: 960px;}
    html {font-size: 14px;}
}

/*
* tablet
*/
@media screen and (max-width: 1024px) {
    html { font-size: 16px;}
    /*layout*/
    #wrap {padding: 0;}
    .container {max-width: 1024px;}
    .bg__black.on {background: rgba(0, 0, 0, 0.7); height: 100%; width: 100%; position: fixed; top: 0; left: 0; z-index: 1;}
    
    /*header*/
    #header {position: static; height: auto;}
    .header__border {border-bottom: 0;}
    .header__logo {width: 32vw;}
    #nav { display: none;}
    #moToggle {display: block; margin: 0 3vw;}
    #moToggle > img {width: 6vw;}
    #moNav.over { left: 0; }
    #moToggle__close { width: 8vw; height: 8vw; padding: 2.5vw; margin-right: -4vw;}
    .moNav__section {width: 80%;}
    .moNav__list.over .moNav__list__inner {background-color: var(--light-grey);}
    .moNav__list__inner {display: flex; justify-content: space-between; padding: 1vw 0; background-color: #fff; padding: 3vw 6vw 3vw 4vw;}
    .moNav__list__inner > dt { font-size: 2.2rem; font-weight: bold;}
    .moNav__list {border-bottom: 1px solid var(--middle-grey);}
    .moNav__list__depth2{display: none;}
    .moNav__list .moNav__arrow { transform: rotate(90deg); width: 2.5vw;}
    .moNav__list.over .moNav__arrow {transform: rotate(-90deg);}
    .moNav__list.over .moNav__list__depth2 {display: block;}
    .moNav__list__depth2__inner > li {padding: 1vw 0; background-color: #f0f0f0; padding: 3vw 6vw 3vw 4vw; font-size: 2rem; border-bottom: 1px solid var(--middle-grey); font-weight: 500;}
    .moNav__list__depth2__inner > li:last-child {border-bottom: none;}
    .moNav__list__depth2__inner > li::before {content: "\00B7"; padding-right: 2vw;}
    .moNav__logo { width: 80%; background-color: var(--middle-red); display: flex; justify-content: space-between; padding: 2vw 4vw; align-items: center;}
    .moNav__logo > h1 > img { width: 25vw;}
    .header__content {align-items: center; padding-top: 2em;}

    /*main content*/
    .content {align-items: center;}
    .content__left__logo > img {width: 26vw;}
    .content__right {flex-basis: 50%;}
    .content__right__list__description::before {width: 35vw;}

    /*form*/
    .form__title {font-size: 2rem;}
    .form__gender {font-size: 0.9rem;}
    .gender__inner:first-child {padding-right: 0.3vw;}
    .gender__inner label {width: 4vw; height: 3vw; }
    .gender__inner input:checked + label {width: 4vw; height: 3vw;}
    .type2__agree2 {margin-left: 0;}
    .form__agree {flex-basis: 55%;}
    .form__agree:last-child {flex-basis: 45%;}
    .form__agree label:before {width: 1.8vw; height: 1.8vw; top: 0;}
    .form__agree input:checked + label:after {width: 1.3vw; height: 1.3vw; top: 0.38vw; left: 0.75vw;}
}

/*
* small tablet
*/
@media screen and (max-width: 900px) {
    html {font-size: 15px;}
    .container {max-width: 900px;}
}

/*
* mobile
*/
@media screen and (max-width: 768px) {
    /*header*/
    #moToggle > img {width: 8vw;}
    .header__logo {width: 52vw;}
    .moCall { width: 100%; text-align: center; font-size: 4vw; display: flex; align-items: center; justify-content: center;}
    .moCall > img { width: 5vw;}
    .gtm_call_confirm {padding-left: 1vw; font-weight: bold;}

    /*navigation*/
    .moNav__list__inner > dt {font-size: 4.5vw;}
    .moNav__list__depth2__inner > li {font-size: 4vw;}

    /*main content*/
    .main {display: none;}
    .content-form {margin-top: 7em;}
    .moMain { display: block; text-align: center; padding-top: 8vw;}
    .moMain__content__title {font-size: 4vw; font-weight: bold;}
    .moMain__content__inner > h2 {font-size: 7.5vw; font-weight: bold; padding-top: 3vw;}
    .moMain__content__inner > h2 > strong { color: var(--bold-red);}
    
    /*form*/
    .form__title {font-size: 5vw;}
    .form__type1 {display: block;}
    .form__type1 input {font-size: 3.5vw; height: 3.5em;}
    .gender__inner input:checked + label,
    .gender__inner label {width: 9vw; height: 7vw; font-size: 3.6vw; }
    .form__type2 {display: block;}
    .form__agree label:before {top: 50%; left: 2vw; transform: translate(0, -50%); width: 3vw; height: 3vw;}
    .form__agree input:checked + label:after {width: 2.5vw; height: 2.5vw; top: 50%; left: 2.45vw; transform: translate(0, -50%);}
    .form__agree > a {font-size: 3vw;}
    .type2__agree2 {margin-left: 0;}
    .form__agree > label {font-size: 3.6vw;}
    .consult_btn_pc {display: none;}
    .cal_chat_pc {display: none;}
    .form__btn > button {width: 48%; font-size: 4.2vw; padding: 0.4em 0; height: auto;}
    .form__type4 {font-size: 4vw; }
    .form__type4 .form__call-tel > strong > a {font-size: 5vw;}

    /* middle tab (content move) */
    .tab__list li {font-size: 3.5vw; padding: 0.3em 0;}
    .tab__list li:nth-child(1),
    .tab__list li:nth-child(2) {line-height: 2em;}
    .tab__list li > span { display: block;}


}
