* { padding: 0; margin: 0; box-sizing: border-box; }
html {word-break: keep-all;}
body { margin: 0;}
h1,h2,h3 {margin: 0;}
ul {list-style: none; margin: 0; padding: 0;}
p {margin: 0;}
a {text-decoration: none;}
input {margin: 0; padding: 0; border-width: 0; }
input:focus {outline: none;}
button {border-width: 0;}
:root {
    --super-grey: #585858;
    --bold-grey: #7c7c7c;
    --middle-grey: #b2b2b2;
    --light-grey: #cdcdcd;
    --super-light-grey: #f1f1f1;
    --bold-red: #e33d17;
    --middle-red: #e4322b;
    --bold-pink: #d25c74;
    --middle-pink: #d25a73;
    --light-pink: #df94a8;
    --bold-yellow: #fae100;
}
/*PC*/
.container { max-width: 1102px; width: 100%; margin: auto;}
.header__border {border-bottom: 1px solid var(--bold-grey);}
.header__inner {display: flex; align-items: center; justify-content: space-between;}
.header__inner h1 {flex-basis: 30%;}
#nav {flex-basis: 70%;}/*width - 1,015*/
.m-nav { display: none;}
.m-nav img {width: 75%;}
.header__inner h1 img {width: 85%;}
.nav__list {display: flex; justify-content: space-between;}
.nav__list li { padding: 1.297016861219196% 3.240886699507389%; font-size: 1.05rem; cursor: pointer; font-weight: bold; color: var(--bold-grey);}
.nav__list li:nth-last-child(1) {padding-right: 0;}

.main { display: flex; justify-content: space-around; margin-top: 2.758620689655172%;} /*상위container*/
.mo__top-content {display: none;}
.main__left,
.main__right {flex-basis: 45%;}
.main__logo img {width: 50%;}
.main__title {font-size: 2.5rem; font-weight: bold; padding: 2.659574468085106% 0; line-height: 1.2;}
.main__description {font-weight: 600; font-size: 1.125rem;}
.main__description strong {color: var(--middle-red);}

.main__list {display: flex; align-items: center; margin-bottom: 4.032258064516129%; border-bottom: 1px solid var(--bold-grey);}
.main__right__img{flex-basis: 20%;}
.main__right__img img {width: 80%; background-color: #7c7c7c; }
.main__right__description {font-weight: 600; font-size: 1.125rem;}
.main__right__description > span {font-size: 1rem; color:var(--bold-grey);}

/* insurance form */
.content-form {margin-top: 122px;}
.form__container {background-color: var(--super-light-grey); border: 1px solid transparent;}
.form-main {width: 95%; background-color: #fff; border: 1px solid var(--light-grey); border-radius: 10px; margin: -100px auto 10px;}
.form {padding: 1.701471205435633% 0; width: 90%; margin: 0 auto;}
.form__title {text-align: center; font-weight: 550; font-size: 1.8rem; padding-bottom: 2.268628273914178%;}
.form__title > strong { color: var(--middle-red);}
.form__type1 {display: flex; justify-content: space-between; padding: 1.592035576688354% 0;}
.form__type1 input {border-bottom: 1px solid var(--bold-grey); width: 100%; height: 35px; padding-left: 3px; font-size: 0.9rem;}
.form__type1 .form__name,
.form__type1 .form__birth,
.form__type1 .form__tel {flex-basis: 28%; position: relative;}
.form__gender { display: flex; position: absolute; right: 3%; bottom: 8%;}
.gender__inner {position: relative;}
.gender__inner:first-child {padding-right: 7.462686567164179%;}
.gender__inner label {background-color: var(--middle-grey); display: block; height: 30px; width: 40px; line-height: 28px; text-align: center; color: #fff; font-weight: bold;}
.gender__inner input {opacity: 0; display: none; }
.gender__inner input:checked + label {height: 30px; width: 40px; border: 1px solid var(--bold-grey); color: #fff; background-color: var(--light-pink);}
.form__type2 {display: flex; justify-content: center;}
/*.form__agree {position: relative;}*/
.agree__btn {position: relative;}

.form__agree > a {color: var(--middle-red); font-size: 0.825rem; font-weight: bold; }
.form__agree input {opacity: 0;}
.form__agree label:before {content:''; position: absolute; border: 1px solid var(--bold-grey); border-radius: 50%; width: 16px; height: 16px; left: 0; top: 13%; }
.form__agree input:checked + label:after {content: ''; position: absolute; width:12px; height: 12px; border-radius: 50%; background-color: red; left: 3%; top: 25.9%;}
.form__agree > label {padding-left: 3vw; font-weight: bold; font-size: 1rem;}
.type2__agree2 {margin-left: 3.396342563601821%;}
.form__btn {display: flex; justify-content: space-between; padding: 2.123142250530786% 0;}
.form__btn .gtm_calc_click {background-color: var(--bold-pink);}
.form__btn .gtm_consult_click {background-color: var(--bold-red);}
.form__btn .gtm_kakao_click {background-color: var(--bold-yellow); color: #1b1b1b; }
.form__btn .gtm_kakao_click > i {color: #1b1b1b;}
.form__btn .gtm_happy_click {background-color: var(--super-grey);}
.form__btn > button { width: 23%; height: 41px; color: #fff; font-size: 1rem; font-weight: bold;}
.form__btn > button > i {padding-right: 5px; color: #fff;}
.form__type4 {text-align: center; font-size: 1.2rem; font-weight: bold; color: var(--light-grey);}
.form__type4 .form__call-tel > strong > a { color: var(--middle-red); font-size: 1.8rem;}

/*class="on" tab*/
.tab__list {display: flex; justify-content: space-between; }
.tab__list li {flex-basis: 25%; text-align: center; color: var(--middle-pink); font-weight: bold; font-size: 1.2rem; height: 55px; line-height: 55px; cursor: pointer;  position: relative;}
.tab__list li + li:before { content: ''; width: 1px; height: 30px; background-color: var(--light-grey); position: absolute; left: 0; top: 20%;}
.tab__list li.on { border-bottom: 5px solid var(--middle-pink); }

/*content tab*/
.content__container article { display: none;}
.content__container article.on {display: block;}

/*content tab1*/
.content__section {border-bottom: 1px solid var(--light-grey); padding: 3.629764065335753% 1.814882032667877%;}
.content__section .sec__list {padding-left: 0.9416195856873823%; font-weight: bold; color: var(--bold-grey); padding-top: 0.9416195856873823%; }


/*small PC*/
@media screen and (max-width: 1200px) {
    .nav__list {justify-content: center;}
    .container {max-width: 960px;}
    html {font-size: 14px;}
}




/*tablet*/
@media screen and (max-width: 1024px) {
    html {font-size: 13px;}
    .container {max-width: 1024px;}
    /*header*/
    #nav { display: none;}
    .header__border {border: 0;}
    .header__inner {position: relative; padding-bottom: 50px; justify-content: flex-start; align-items: center; padding: 1.689189189189189% 0 0 3.378378378378378%;}
    .m-nav {display: block; order: 1; padding-right: 4.930966469428008%;}
    .m-nav img {width: 5vw; }
    .header__inner h1 {order: 2; }
    .header__inner h1 img {width: 35vw; }
    
    /*top-content*/
    
    .main__description {font-size: 1.8vw;}
    .main__right__description {font-size: 1.8vw;}
    .main__right__description > span {font-size: 1.5vw;}

    /*form*/
    .form__title {font-size: 2.8vw;}
    .form__type1 input {font-size: 1.5vw;}
    .gender__inner label,
    .gender__inner input:checked + label {width: 4vw; height: 3vw; font-size: 1.4vw; line-height: 3vw;}
    .form__agree > label { font-size: 1.4vw;}
    .form__agree > a {font-size: 1.2vw;}
    .form__btn > button {font-size: 1.4vw;}
    .form__type1 input {height: 4vw;}
    .form__agree label:before {width: 1.7vw; height: 1.7vw;}
    .form__call-tel { font-size: 2vw;}
    .form__type4 .form__call-tel > strong > a {font-size: 2.4vw;}

    /*content*/
    .tab__list li {font-size: 2vw;}
    .sec__title { font-size: 2.3vw;}
    .content__section .sec__list {font-size: 1.5vw;}   
}


@media screen and (max-width: 768px) {
    html {font-size: 1vw;}
    .top-content {display: none;}
    .mo__top-content {display: block;}
    .main {display: block; text-align: center;}
    .main__subject {font-size: 7.5vw; }
    .main__subject > strong { color: var(--bold-red);}
    .main__title {font-size: 4.2vw;}
    
    /*form*/
    .form__title {font-size: 5vw;}
    .form__type1 {display: block;}
    .form__type1 input {height: 11vw; }
    .form__type1 input {font-size: 3.5vw;}
    .form__birth { margin: 3vw 0;}
    .gender__inner label, .gender__inner input:checked + label { width: 11vw; height: 8vw; font-size: 3.8vw; line-height: 8vw;}
    .form__type2 {display: block; padding: 1.569858712715856% 0;}
    .type2__agree2 {padding-top: 1.569858712715856%;}
    .form__agree {margin-left: 4vw;}
    .form__agree > label {font-size: 4vw;}
    .form__agree > a {font-size: 2.6vw;}
    .form__agree label:before {top: 28%;}
    .form__agree input:checked + label:after {left: 0.2%; top: 31%; width: 1.7vw; height: 1.7vw;}
    .form__btn > button { font-size: 4vw; width: 48%; height: 9vw;}
    .gtm_kakao_click,
    .gtm_happy_click {display: none;}
    .form__call-tel {font-size: 5vw; }
    .form__type4 .form__call-tel > strong > a { font-size: 5.8vw;}
    .form__call-tel {padding: 2.354788069073783% 0;}
    /*tab*/
    .tab__list li {font-size: 3vw; height: 7rem; line-height: 7rem;}
    .tab__list li.on {border-bottom: 3px solid var(--middle-pink); }
    .tab__list li + li:before {height: 4rem;}
    .sec__title {font-size: 4.6rem;}
    .content__section .sec__list {font-size: 3.5rem;}
    .tab__list li > span {display: block;}
    .tab__list li:nth-child(3),
    .tab__list li:nth-child(4) {height: 7rem; line-height: 3.3rem;}
    
}







